html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0px;
  margin-left: 30px;
  background-image: url(rainbowsplash-removebg-preview.png), url(backgroundimage.jpg);
  background-repeat: no-repeat;
  background-size: 400px, auto;
  background-position: bottom left, center;
  font-family: Chalkduster, fantasy;
}

.random-colors {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  height: auto;
}

h1 {
  text-align: center;
  margin-top: 50px;
  background-size: 100%;
  font-weight: 100;
  font-size: 100px;
  background: -webkit-linear-gradient(right, red, orange, yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.color-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
}

.box {
  background-color: #000000;
  box-shadow: 4px 3px #888888;
}

figure {
  height: 150px;
  width: 150px;
  border-style: solid;
  margin: 15px;
  text-align: center;
}

text {
  align-self: end;
  font-family: OCR A Std, monospace;
  font-size: 18px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-top: 75px;
}

button:hover {
  color: #ffffff;
  border: #ff7a59 solid 1px;
  background: #000000;
  transition: all 0.3s ease;
  cursor: grab;
}

.saved-container {
  width: 34%;
  height: auto;
  margin-left: 30px;
  border: 3px;
  border-color: #000000;
  border-left-style: solid;
  overflow: scroll;
}

h3 {
  text-align: center;
  margin-top: 80px;
  font-size: 30px;
}

.icon {
  width: 15px;
  height: 15px;
  margin-top: 160px;
}

button {
  background-color: #ffffff;
  font-family: Chalkduster, fantasy;
  width: 120px;
  height: 30px;
  border-right: solid;
  border-bottom: solid;
  padding: 0px;
  font-size: 14px;
}

.mini-box {
  height: 60px;
  width: 60px;
  margin-right: -10px;
}

.saved-palettes {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.saved-row {
  display: flex;
  align-items: center;
}

.trash-can {
  width: 20px;
  height: 20px;
  margin-left: 30px;
}
